{% extends "layout.html" %}
{% block body %}

<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Find the best bike share locations.</h1>
    <p class="lead">
        We help you find the best bike share locations by showing them to you on a map and also giving
        really cool statistics to help you pick the best locations.
    </p>
</div>

<div id="map_section" class="panel panel-default">
    <div class="panel-heading">Bike Share Locations Map</div>
    <div class="panel-body" style="padding: 0px;">
        <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
</div>

<div id="stats_section" class="panel panel-default">
    <div class="panel-heading">Bike Share Availability Chart</div>
    <div class="panel-body" style="padding: 0px;">
        <canvas id="myChart"></canvas>
    </div>
</div>
<div id="rating_section_chart" class="panel panel-default">
    <div class="panel-heading">Bike Share Rating Chart</div>
    <div class="panel-body" style="padding: 0px;">
        <canvas id="ratingChart"></canvas>
    </div>
</div>

<div id="rating_section" class="panel panel-default">
    <div class="panel-heading">Bike Share Availability Chart</div>
    <div class="panel-body" style="padding: 0px;">
        <div id="stationSelectDiv">

        </div>
        <div>
            <input class="form-control" id="ratingValue" type="number" min="0" max="10" />
        </div>
        <button id="submitRatingButton" class="btn btn-success">Submit</button>
    </div>
</div>

{% endblock %}

{% block body_scripts %}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbmjv7-D8NOxv4KOyMs4lXB7OC7ZtK6SM&callback=initMap">
</script>
<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
{% endblock %}}